.note-input {
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    width: 600px;
  }
   
  .note-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
  }
   
  .note-input mat-icon {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    color: gray;
  }
   
   
  .note-expanded {
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    width: 600px;
   
    input {
      border: none;
      outline: none;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      background-color: transparent;
    }
    textarea{
      border: none;
      outline: none;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      background-color: transparent;
      resize: none;
    }
    button{
      width: 30%;
      height: 20%;
      margin-left:70px;
      background-color: bisque;
      color: black;
      padding: 2px;
    }
    .icons{
      *{
        cursor: pointer;
      }
    }
  }