// body{
//     height: 1000px;
// }
body{
    width: 900px;
}
.note_container{
    padding-top: 10%;
    margin-left: 1px;
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
    width: 800px;
    height: auto;

}
.search{
    border: none;
    height: 24px;
}
.addnote{
    align-items: center;
}
mat-icon{
    margin-top: 6px;
}