<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../assets/images.png" alt="KeepNotes" class="logo">
    <span>Keep</span>
    <span class="spacer"></span>
  <div class="searchhhh">
   
  </div>
  <mat-form-field appearance="outline">
    <mat-icon>search</mat-icon>
         <input matInput>
         <button class="searchBar" mat-icon-button matSuffix></button>
 </mat-form-field>
    
    <div class="icons">
        <mat-icon class="refersh">refresh</mat-icon>
        <mat-icon>lists</mat-icon>
        <mat-icon>settings</mat-icon>
      </div>
      <mat-icon class="apps">apps</mat-icon>
    <button mat-icon-button>
      <img src="../../assets/images (1).png" alt="Avatar" class="avatar">
      <!-- <mat-icon mat-card-avatar>home</mat-icon> -->
      <mat-icon>account_circle</mat-icon>
    </button>
 
  </mat-toolbar>
 
 