<div  class="centerdiv">
  <div class="rightdiv">
   
   <h1>Sign in</h1>
   <span>Use your Google Account</span  >
  </div>
  <div class="leftdiv" >
    <form  [formGroup]="loginForm" >
      <mat-form-field appearance="outline">
          <mat-label>Email or Phone</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          
      </mat-form-field>
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" style="color: red;">
        Please provide a valid email address.
      </div>
  </form>  
  <a class="forgetemail"> Forget email?</a> 
  <div class="footsection">
    Not your computer? Use Guest mode to sign in privately. 
    <br>
    <a class="forgetemail">Learn more about using Guest mode</a>
  </div>
   <mat-card-actions class="action-btn" style="height: 40px;margin-left: 80px;">
    <div class="" style="display: flex; width: 200px;justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
      <a
        style="width: 150px; height: 40px; border-radius: 30px; background-color: #ffffff; box-shadow: none; color: white; align-content: center;" [routerLink]="['/register']">
        <!-- <mat-icon>favorit</mat-icon> -->
        <span style="color: #0b57d0;">Create account</span>
  
      </a>
    </div>
    <div class="" style="display: flex; justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
      <a
        style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;" (click)="handleLogin()">
        <!-- <mat-icon>favorit</mat-icon> -->
        <span>Next</span>
  
      </a>
    </div>
   
      
   </mat-card-actions>	
  </div>
  </div>