.widget{
    margin-left: 200px;
    margin-right: 200px;
    width:auto;
    border-radius: 28px;
    margin-top: 48px;
    
}
.logo{
    width: 48px;
    height: 48px;
    
}
.centerdiv{
    padding: 36px;
    display: flex;
}