
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item  [routerLink]="['/dashboard/notes']">
          <mat-icon>note</mat-icon>
          <span>Notes</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>notifications</mat-icon>
          <span>Reminders</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>label</mat-icon>
          <span>hjjh</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>edit</mat-icon>
          <span>Edit labels</span>
        </mat-list-item>
        <mat-list-item  [routerLink]="['/dashboard/archive']">
          <mat-icon>archive</mat-icon>
          <span>Archive</span>
        </mat-list-item>
        <mat-list-item  [routerLink]="['/dashboard/trash']">
          <mat-icon>delete</mat-icon>
          <span>Trash</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>  
</mat-sidenav-container>
 
 