<div class="centerdiv">
    <div class="leftdiv">
      <h1>
        Basic information
      </h1>
      <span>Enter your birthday and gender</span>
    </div>
    <div class="rightdiv">
        <div class="date">
            <mat-form-field appearance="outline" class="datediv">
                <mat-label>Month</mat-label>
                <select matNativeControl >
                    <option value=""></option>
                  <option value="January">January</option>
                  <option value="Febr">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="datediv">
                <mat-label>Day</mat-label>
                <input matInput placeholder="">
              
              </mat-form-field>
              <mat-form-field appearance="outline" class="datediv">
                <mat-label>Year</mat-label>
                <input matInput placeholder="">
           
              </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="gender">
            <mat-label>Gender</mat-label>
            <select matNativeControl >
                <option value=""></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value=" nope">Prefer not to say</option>
              <option value="Others">Others</option>
            </select>
          </mat-form-field>
        <a style="color: #0b57d0;"> Why we ask for birthday and gender</a>
        <div class="" style="display: flex; justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
            <a
              style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;" [routerLink]="['/emailpass']">
              <!-- <mat-icon>favorit</mat-icon> -->
              <span>Next</span>

            </a>
          </div>
    </div>
</div>
