.centerdiv{
    padding: 36px;
    display: flex;
    padding-bottom: 0px;
}

.leftdiv{
 width: 400px;
 padding-right: 100px;
}
.rightdiv{
    display: block;
}
.form-field{
    width: 400px;
}
.date{
    display: flex;
}
.datediv{

    width: 120px;
    padding-right: 20px;
}
.gender{
    width: 400px;
}