

<div class="widget">
    <div class="leftdiv">
        <h1>Welcome!</h1>

    </div>
    <div class="rightdiv">
        <form [formGroup]="passForm"> 
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="pass">
            </mat-form-field>
            <div *ngIf="passForm.get('pass')?.invalid && (passForm.get('pass')?.dirty || passForm.get('pass')?.touched)" style="color: red;">
                Password must be at least 8 characters long
            </div>
            <br>  
        </form>

        <div class="" style="display: flex; justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
            <a
              style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;"  (click)="handleLogin()">
              <!-- <mat-icon>favorit</mat-icon> -->
              <span>Next</span>

            </a>
          </div>
    </div>
</div>