
<div class="widget">
    <div class="leftdiv">
        <h1>Create a Google Account</h1>
        <span>Enter your name</span  >
    </div>
    <div class="rightdiv">
        <form [formGroup]="registerForm"> 
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="name">
            </mat-form-field>
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" style="color: red;">
                name is required
            </div>
            <br>
            
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Last Name(Optional)</mat-label>
                <input matInput placeholder="Last Name" formControlName="lname">
            </mat-form-field>
            
        </form>

        <div class="" style="display: flex; justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
            <a
              style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center; " (click)="handleregister()" [routerLink]="['/info']"  >
              <!-- <mat-icon>favorit</mat-icon> -->
              <span>Next</span>

            </a>
          </div>
    </div>
</div>